In [1]:
pwd

'C:\\Users\\Aditya\\Documents\\JupyterNb'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("data.csv")

In [4]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [5]:
df.head(10)

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367
8,11150 TRINITY RIVER DR Unit 114,RANCHO CORDOVA,95670,CA,2,2,941,Condo,Wed May 21 00:00:00 EDT 2008,94905,38.621188,-121.270555
9,7325 10TH ST,RIO LINDA,95673,CA,3,2,1146,Residential,Wed May 21 00:00:00 EDT 2008,98937,38.700909,-121.442979

In [6]:
df['price']

0       59222
1       68212
2       68880
3       69307
4       81900
        ...
980    232425
981    234000
982    235000
983    235301
984    235738
Name: price, Length: 985, dtype: int64

In [7]:
df['city','price']

KeyError: ('city', 'price')

In [8]:
df['city'],['price']

(0           SACRAMENTO
 1           SACRAMENTO
 2           SACRAMENTO
 3           SACRAMENTO
 4           SACRAMENTO
             ...
 980         SACRAMENTO
 981         SACRAMENTO
 982     CITRUS HEIGHTS
 983          ELK GROVE
 984    EL DORADO HILLS
 Name: city, Length: 985, dtype: object,
 ['price'])

In [18]:
df.head()

     name  age  TestScore_1  TestScore_2
0   Kunal   42            4           25
1   Ankit   52           24           94
2   Purva   36           31           57
3  Pranav   24            2           62
4   Sunil   73            3           70

In [10]:
df[['city'],['price']]

TypeError: '(['city'], ['price'])' is an invalid key

In [11]:
df[['city','price']]

                city   price
0         SACRAMENTO   59222
1         SACRAMENTO   68212
2         SACRAMENTO   68880
3         SACRAMENTO   69307
4         SACRAMENTO   81900
..               ...     ...
980       SACRAMENTO  232425
981       SACRAMENTO  234000
982   CITRUS HEIGHTS  235000
983        ELK GROVE  235301
984  EL DORADO HILLS  235738

[985 rows x 2 columns]

In [12]:
df.iloc[4:8]

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367

In [13]:
df.iloc[:,:2]

                  street             city
0           3526 HIGH ST       SACRAMENTO
1            51 OMAHA CT       SACRAMENTO
2         2796 BRANCH ST       SACRAMENTO
3       2805 JANETTE WAY       SACRAMENTO
4        6001 MCMAHON DR       SACRAMENTO
..                   ...              ...
980   9169 GARLINGTON CT       SACRAMENTO
981      6932 RUSKUT WAY       SACRAMENTO
982    7933 DAFFODIL WAY   CITRUS HEIGHTS
983     8304 RED FOX WAY        ELK GROVE
984  3882 YELLOWSTONE LN  EL DORADO HILLS

[985 rows x 2 columns]

In [14]:
print("i want to die".replace("die","go to sleep"))

i want to go to sleep

In [15]:
data = {'name': ['Kunal', 'Ankit', 'Purva', 'Pranav', 'Sunil'], 
        'age': [42, 52, 36, 24, 73], 
        'TestScore_1': [4, 24, 31, 2, 3],
        'TestScore_2': [25, 94, 57, 62, 70]}

In [16]:
df = pd.DataFrame(data, columns = ['name', 'age', 'TestScore_1', 'TestScore_2'])

In [17]:
df.head()

     name  age  TestScore_1  TestScore_2
0   Kunal   42            4           25
1   Ankit   52           24           94
2   Purva   36           31           57
3  Pranav   24            2           62
4   Sunil   73            3           70

In [19]:
df

     name  age  TestScore_1  TestScore_2
0   Kunal   42            4           25
1   Ankit   52           24           94
2   Purva   36           31           57
3  Pranav   24            2           62
4   Sunil   73            3           70

In [21]:
df['TestScore_1'].sum()

64

In [22]:
df['TestScore_1'].mean()

12.8

In [23]:
df['TestScore_1'].cumsum()

0     4
1    28
2    59
3    61
4    64
Name: TestScore_1, dtype: int64

In [24]:
df['TestScore_1'].describe()

count     5.000000
mean     12.800000
std      13.663821
min       2.000000
25%       3.000000
50%       4.000000
75%      24.000000
max      31.000000
Name: TestScore_1, dtype: float64

In [25]:
df.corr()

                  age  TestScore_1  TestScore_2
age          1.000000    -0.105651     0.328852
TestScore_1 -0.105651     1.000000     0.378039
TestScore_2  0.328852     0.378039     1.000000

# Data Manipulation

In [3]:
df=pd.read_csv("data.csv")

In [24]:
import pandas as pd
import numpy as np

In [4]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [5]:
pwd

'C:\\Users\\Aditya\\Documents\\JupyterNb'

In [9]:
data_BM=pd.read_csv("bigmart_data.csv")

In [23]:
data_BM.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [11]:
bata_BM= data_BM.dropna(how="any")

In [12]:
data_BM.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [13]:
# sort by year
sorted_data = data_BM.sort_values(by='Outlet_Establishment_Year')

#Print sorted data
sorted_data[:10]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4338,FDH21,NaN,Low Fat,0.031074,Seafood,157.5604,OUT027,1985,Medium,Tier 3,Supermarket Type3,5704.5744
3689,FDD53,NaN,Low Fat,0.044008,Frozen Foods,43.7454,OUT027,1985,Medium,Tier 3,Supermarket Type3,671.1264
1139,FDH26,NaN,Regular,0.034532,Canned,142.2496,OUT027,1985,Medium,Tier 3,Supermarket Type3,2399.5432
1138,FDM21,NaN,Low Fat,0.064052,Snack Foods,256.1646,OUT027,1985,Medium,Tier 3,Supermarket Type3,7472.2734
3691,FDY36,NaN,Low Fat,0.016477,Baking Goods,74.3380,OUT019,1985,Small,Tier 1,Grocery Store,146.4760
1136,FDT46,NaN,Low Fat,0.030658,Snack Foods,50.5008,OUT027,1985,Medium,Tier 3,Supermarket Type3,1012.0160
7478,DRF37,NaN,Low Fat,0.000000,Soft Drinks,261.2910,OUT019,1985,Small,Tier 1,Grocery Store,788.9730
1134,FDJ02,NaN,Regular,0.044064,Canned,147.2418,OUT019,1985,Small,Tier 1,Grocery Store,294.2836
1131,FDL02,NaN,Regular,0.182237,Canned,107.1622,OUT019,1985,Small,Tier 1,Grocery Store,211.7244
1130,FDY52,NaN,Low Fat,0.012866,Frozen Foods,59.3536,OUT019,1985,Small,Tier 1,Grocery Store,122.5072

In [16]:
#sort inplace and descending order
data_BM.sort_values(by='Outlet_Establishment_Year', ascending = False, inplace=True)
data_BM[:5]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5371,FDC11,20.50,Low Fat,0.142370,Starchy Foods,90.6172,OUT018,2009,Medium,Tier 3,Supermarket Type2,1427.4752
3846,NCY06,15.25,Low Fat,0.061434,Household,130.9968,OUT018,2009,Medium,Tier 3,Supermarket Type2,2348.9424
874,FDS21,19.85,Regular,0.020961,Snack Foods,62.0194,OUT018,2009,Medium,Tier 3,Supermarket Type2,619.1940
6604,FDA11,7.75,Low Fat,0.043415,Baking Goods,93.1436,OUT018,2009,Medium,Tier 3,Supermarket Type2,1418.1540
3839,DRI37,15.85,Low Fat,0.108036,Soft Drinks,57.3904,OUT018,2009,Medium,Tier 3,Supermarket Type2,703.0848

In [17]:
#read the dataset
data_BM = pd.read_csv('bigmart_data.csv')

#drop the NULL values
data_BM = data_BM.dropna(how="any")

#sort by multiple columns
data_BM.sort_values(by=['Outlet_Establishment_Year', 'Item_Outlet_Sales'], ascending = False)[:5]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
43,FDC02,21.35,Low Fat,0.069103,Canned,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
2803,FDU51,20.20,Regular,0.096907,Meat,175.5028,OUT018,2009,Medium,Tier 3,Supermarket Type2,6729.9064
641,FDY51,12.50,Low Fat,0.081465,Meat,220.7798,OUT018,2009,Medium,Tier 3,Supermarket Type2,6611.3940
2282,NCX30,16.70,Low Fat,0.026729,Household,248.4776,OUT018,2009,Medium,Tier 3,Supermarket Type2,6439.6176
2887,FDR25,17.00,Regular,0.140090,Canned,265.1884,OUT018,2009,Medium,Tier 3,Supermarket Type2,6359.7216

In [18]:
data_BM.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [20]:
data_BM.shape

(4650, 12)